/* Footer */
@use 'vars' as *;


.footer {
  width: 100%;
  text-align: center;
  padding: 2rem 0 1.5rem;
  margin-top: 3rem;
}

.social a {
  text-decoration: none;
}

.social,
.rights {
  // line-height: 1.1rem;
}

.social a {
  padding-right: 0.7rem;
  padding-bottom: 0.4rem;
}

.rights {
  padding-bottom: 0.3rem;
  padding-top: 0rem;
  letter-spacing: 0.06rem;
  font-size: 0.48rem;
  line-height: 1rem;
}

.rights p {
  margin: 0;
  white-space: nowrap;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.rights a {
  color: inherit;
  opacity: 0.82;
}

.rights a:hover {
  opacity: 1;
  text-decoration: underline;
}

@media (max-width: 900px) {
  .footer {
    display: flex;
    width: 100%;
    padding: 0.25rem 1rem;
    justify-content: space-between;
  }

}

@media (min-width: 3000px) {
  .footer {
    padding: 0 0 0 2rem;
  }
}
