# Node.js dependencies
/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed

# Dependency directories
jspm_packages/

# Build output
/dist/
/build/

# Temporary files
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# .env file for sensitive data (e.g. database credentials)
.env

