<div class="footer" id="footer">
        <div class="rights">
            <p>&#169; <%= new Date().getFullYear() %> limbow <span aria-hidden="true">|</span> <a href="/impressum">impressum</a></p>
        </div>
</div>

<script type="text/javascript" src="/js/main.js"></script>
