<div class="footer" id="footer">
    <!-- social links moved to the Info page -->
        <div class="rights">
            <p>&#169; 2025 limbow</p>
        </div>
</div>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/responsive-navbar.js"></script>
<script type="text/javascript" src="/js/animate.js"></script>
