<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css?v=db7fa9e" type="text/css" />
    <link rel="stylesheet" href="/css/mobile-menu.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

