<div class="header" id="header" role="banner">
    <div class="nav" id="outer-nav">
        <div id="nav" role="navigation">
            <ul class="nav-list">
                <li class="<%= (currentURL === '/') ? 'active' : '' %>">
                    <a class="nav-item" href="/">overview</a>
                </li>
                <li class="<%= (currentURL === '/info') ? 'active' : '' %>">
                    <a class="nav-item" href="/info">info</a>
                </li>
                <li class="<%= (currentURL === '/contact') ? 'active' : '' %>">
                    <a class="nav-item" href="/contact">contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
